.site-header {
    padding-top: 20px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    max-width: 1000px;
    flex-grow: 1;

}
.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__item {
    list-style-type: none;
}
.navbar__link:hover {
    opacity: 0.5;
}

.navbar__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #252D35;
    text-decoration: none;
}
.header_bottom{
    padding: 20px 0px;
}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header__item{
    padding: 15px 78px;
    background: rgba(241, 245, 248, 0.8);
}
.header__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #252D35;
    opacity: 0.5;
    &:hover{
    color: #B8884B;
    }
}

