.site-header {
    padding-top: 20px;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    column-gap: 40px;
    margin-bottom: 20px;
}

.header__navbar {
    flex-grow: 1;

}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    list-style-type: none;
}
.header__item:hover {
    opacity: 0.5;
}

.header__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #252D35;
    text-decoration: none;
}

