.foldin {
}
.container {
}
.foldin__inner {
}
.foldin__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 75px;
    /* identical to box height, or 107% */
    
    text-align: center;
    
    /* #B8884B */
    
    color: #B8884B;

}
.foldin__titles{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 75px;
    /* identical to box height, or 107% */
    
    text-align: center;
    
    /* #B8884B */
    
    color:  #252D35;
}
.foldin__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;     
    width: 100%;
    max-width: 1051px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.foldin__item {

}
.foldin__link {
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    /* #1C242C */
    
    color: #252D35;
background: #F1F5F8;
}
.foldin__link:hover{
    background: #B8884B;
    color: white;
}
// -------------------------------------------------------Lists----------------------------
.rinok__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.rinok {
   margin: 0;
   padding: 0;
   list-style: none;

}
.rinok__item {
    margin: 0 0 40px;
    padding: 30px;
    display: flex;
    align-items: center;justify-content: space-between;
    background: #F1F5F8;
}
.rinok__img{
margin-right: 20px;
}
.rinok__content {
    width: 100%;
    max-width: 460px;
}
.rinok__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-bottom: 10px;
}
.rinok__time {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* #1C242C */

color: #252D35;

opacity: 0.5;
}
.rinok__link {
    text-decoration: none;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: right;

/* #B8884B */

color: #B8884B;
}
.rinok_title {
    margin: 0;
    padding: 0; 
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 30px;
/* or 125% */


/* #1C242C */

color: #252D35;
margin-bottom: 10px;
}
.rinok__text {
    margin: 0;
   padding: 0;
   font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* #1C242C */

color: #252D35;
}
// ------------------------------------end------------
.foldin__end {
    width: 100%;
    max-width: 281px;
    margin: 0 auto;
}

.end__text {
text-align: center;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */



/* #1C242C */

color: #252D35;

opacity: 0.5;
}
.end__button {
    margin-left: 15px;
margin-bottom: 160px;
    position: relative;
    padding: 15px 30px 15px 30px;
padding-right: 52px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

/* #B8884B */

color: #B8884B;
border: 2px solid #B8884B;

}
.end__button:hover{
    background-color: #B8884B;
    color: #F1F5F8;
}
.end__button::after{
    content: "";
    position: absolute;
    background-image: url("/7,8,9-page img/button-vektor.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 20px;
    top: 15px;
    right: 30px;

}
